<div class="modal fade" id="create_file_page" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="create_file_page" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h5 class="modal-title" id="staticBackdropLabel">New Estimate</h5>
                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <div class="modal-body m-0 p-0">
                
                <div class="row d-flex justify-content-around border border-danger h-100">
                    <div class="col-6 h-100" style="border-right: 1px solid black; background-color: burlywood;">

                    </div>
                    <!-- <div class="border border-dark h-100" style="width: 0;"></div> -->
                    <div class="col-6 h-100" style="border-left: 1px solid black; background-color: blueviolet;">

                    </div>
                </div>
        
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>